// size 
$base-text-size: 16px;

// font-weight
$font-weight: 600;

// space
$padding: 20px;

// colors 
$primary-color:  #ED4C5C;
$secondary-color: #FFFFFF;

//bg-colors
$primary-bg-color: #FFFFFF;
$secondary-bg-color: #ED4C5C;

